:root {
  --clr-light: #EDF1D6;
  --clr-primary: #9DC08B;
  --clr-secondary: #609966;
  --clr-dark: #40513B;

  --clr-background: var(--clr-light);
  --clr-border: var(--clr-dark);
  --clr-gradient-top: linear-gradient(0deg, #9DC08B 0%, #609966 100%);
  --clr-gradient-radial: linear-gradient(225deg, #9DC08B 0%, #609966 100%);
  --clr-text-primary: var(--clr-light);
  --clr-text-secondary: var(--clr-dark);

  --ff-primary: 'Inter', Arial, sans-serif;
  --ff-mono: 'Lucida Grande', monospace;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-tiny: .75rem;
  --fs-medium: 1rem;
  --fs-big: 1.25rem;
  --fs-large: 2rem;

  --margin-small: .5rem;
  --margin-big: 1rem;

}

// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Macro Styling

.visually-hidden:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 1px;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
  padding-top: 3.5rem;
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-medium);
  background-color: var(--clr-background);
}

h1 {
  font-size: var(--fs-big);
  font-weight: var(--fw-medium);
  text-align: center;
  margin-bottom: .5rem;
}

h2 {
  font-size: var(--fs-medium);
  font-weight: var(--fw-medium);
  text-align: left;
  margin-bottom: .5rem;
}

// Micro Styling

header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: calc(100% - 2rem);
  height: 2.5rem;
  margin: .5rem 1rem .5rem;
  padding: 0 1.5rem .25rem;
  background: var(--clr-gradient-top);
  border-top: .125rem solid var(--clr-border);
  border-radius: 1rem 1rem 2rem 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  transition: all 1s ease;

  .logo {
    justify-self: start;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }

  .burgerButton {
    max-height: 2rem;
    padding-top: .125rem;
    border: none;
    background: none;
    justify-self: end;
    display: grid;
    align-items: center;
    cursor: pointer;
  

    .bar1, .bar2, .bar3 {
      width: 2rem;
      height: .25rem;
      border-radius: 1rem;
      background-color: var(--clr-dark);
      transition: 0.5s;
    }

  }
  .toggled {
    .bar1 {
      transform: translate(0, .625rem) rotate(45deg)
    }

    .bar2 {
      transform: translate(6rem, 0);
      opacity: 0;
    }

    .bar3 {
      transform: translate(0, -.625rem) rotate(-45deg)
    }
  }

  nav {
    grid-row: 2 / end;
    grid-column: span 2;
    transition: 1s;
    
    ul {
      list-style: none;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 1rem;
      place-items: center stretch;

      li {
        text-align: center;
      }
    }

    .navLink {
      text-decoration: none;
      font-size: var(--fs-big);
      font-weight: var(--fw-bold);
      color: var(--clr-text-secondary);
      border-bottom: .125rem solid var(--clr-light);
    }
    
  }
  .scrollIn-enter-active,
  .scrollIn-leave-active {
    transition: all .2s;
  }
  

  .scrollIn-enter-from,
  .scrollIn-enter-to {
    margin-top: -100%;
    transform: translate(0, -5rem);
  }

  .scrollIn-leave-from,
  .scrollIn-leave-to {
    margin-top: -100%;
    transform: translate(0, -5rem);
  }

}

.headerActive {
  height: 9.5rem;
  grid-template-rows: auto 1fr;
  border-bottom: .125rem solid var(--clr-border);
}

main {
  padding: 0 1rem 0;
  color: var(--clr-text-secondary);

  section {
    margin-bottom: 1rem;
  }

  .welcomeMessage {
    margin: 3rem 0 3rem;
    animation: load 2s  ease forwards;
    opacity: 0;

    #welcome {
      font-size: var(--fs-large);
      font-weight: var(--fw-bold);
      text-align: center;
      margin-top: 1rem;
    }
  
    #subtitle {
      font-weight: var(--fw-medium);
      text-align: center;
    }


    @keyframes load {
      to {
        opacity: 1;
      }
      
    }
  }


  .textBox {
    display: grid;
    grid-template-columns: auto 1fr;
    margin: 1rem 0 1rem;

    .textLine {
      width: .25rem;
      background: var(--clr-gradient-radial);
      border-radius: .25rem .5rem .5rem .25rem;
      margin-right: .75rem;
    }
  }

  .changingWord {
    display: inline-block;
    font-family: var(--ff-mono);
    color: var(--clr-secondary);
    cursor: pointer;
    text-transform: lowercase;
  }

  .deactivated {
    pointer-events: none;
  }

  .skillsContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: .5rem;

    .skillBox {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
  
      h3 {
        color: var(--clr-text-primary);
        font-weight: var(--fw-medium);
        text-align: center;
        background: var(--clr-gradient-radial);
        border-top: .125rem solid var(--clr-border);
        border-bottom: .125rem solid var(--clr-border);
        border-radius: 1rem 1rem 2rem 2rem;
        padding: .25rem 0 .25rem;
      }
  
      
      .iconContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        margin: 1rem;
        gap: 1rem;
        
        .skillIcon {
          transition: .5s ease-out;
        }
  
        .skillIcon:hover {
          transform: translate(0, -.5rem) scale(1.1);
        }
        
        .skillIcon::after {
          content: attr(data-name);
          opacity: 0;
          position: absolute;
          width: 7rem;
          text-align: center;
          left: 50%;
          margin-left: -3.5rem;
          transform: scale(0);
          transform-origin: top center;
          transition: .5s;
        }
  
        .skillIcon:hover::after {
          opacity: 1;
          transform: scale(1);
        }
      }
    }
  }


  #journeyLength {
    font-size: var(--fs-large);
    font-weight: var(--fw-bold);
  }

  .experienceContainer {
    display: grid;
    gap: .5rem;
    
    .experienceHeader {
      display: grid;
      grid-template-columns: 1fr 1fr;


      padding: .25rem .5rem .25rem;
      border-top: .125rem solid var(--clr-border);
      border-bottom: .125rem solid var(--clr-border);
      border-radius: 1rem 1rem 2rem 2rem;
      background: var(--clr-gradient-radial);

      .date {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: left;
        color: var(--clr-text-primary);
      }

      .type {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: right;
        color: var(--clr-text-primary);
      }
      
      .name {
        grid-column: span 2;
        grid-row: 2 / 3;
        justify-self: center;
        font-weight: var(--fw-medium);
        font-size: var(--fs-big);
      }

      .arrowButton {
        grid-column: span 2;
        grid-row: 3 / 4;
        justify-self: center;
        
        display: flex;
        flex-direction: row;
        height: .7rem;
        background: none;
        border: transparent;
        cursor: pointer;


        .arrowLeft {
          width: 1rem;
          height: .2rem;
          background-color: var(--clr-dark);
          transform: rotate(20deg) translate(.125rem, .1rem);
        }

        .arrowRight {
          width: 1rem;
          height: .2rem;
          background-color: var(--clr-dark);
          transform: rotate(-20deg) translate(-.125rem, .1rem);
        }

        .closeLeft {
          transform: rotate(-20deg) translate(.05rem, .1rem);
        }

        .closeRight {
          transform: rotate(20deg) translate(-.05rem, .1rem);
        }
      }
    }

    .experienceBody {
      margin: 0 1.5rem;
      border-bottom: .125rem solid var(--clr-border);
      border-radius: 0 0 .5rem .5rem;

      .textBox {
        margin: .5rem 1rem;
      }
    }
  }

  .projectsContainer {
    display: grid;
    gap: .5rem;

    .projectBox {
      background-image: attr('image');
      display: grid;
      grid-template-columns: 1fr;

      .projectName {
        text-align: center;
        font-size: var(--fs-big);
        font-weight: var(--fw-medium);
      }

      .imageBox {
        display: grid;
        grid-template-areas: 'stack';
        width: 100%;
        
        .projectImage {
          grid-area: stack;
          width: 100%;
          border-radius: 1rem;
        }
        
        .projectLink {
          grid-area: stack;
          background-color: var(--clr-secondary);
          border-radius: 2rem 2rem 1rem 1rem;
          padding: .25rem .75rem;
          display: grid;
          place-items: center;

          a {
            text-decoration: none;
            color: var(--clr-light);
          }

          a:hover {
            color: var(--clr-dark);
          }
        }
        
        .left {
          place-self: end left;
          margin: 0 0 min(1rem, 5%) min(1rem, 5%);
        }

        .right {
          place-self: end right;
          margin: 0 min(1rem, 5%) min(1rem, 5%) 0;
        }
      }
    }
  }

  .pageLink {
    background-color: var(--clr-secondary);
    color: var(--clr-light);
    text-decoration: none;
    padding: .5rem .5rem .5rem 1rem;

    border-top: .125rem solid var(--clr-border);
    border-left: .125rem solid var(--clr-border);
    border-radius: .75rem 0 0 2rem;

    position: fixed;
    right: 0;
  }

  .projectBody {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1rem;

    img {
      width: 100%;
    }

    p {
      white-space: pre-wrap;
    }

    .techTitle {
      margin-bottom: .5rem;
    }

    .techContainer {
      display: flex;
      flex-flow: row wrap;
      max-width: 60%;
      gap: .25rem;

      .techBox {
        min-width: 4rem;
        border: .125rem solid var(--clr-secondary);
        border-radius: 2rem;
        text-align: center;
      }

      .techBox:nth-child(2n) {
        background-color: var(--clr-secondary);
        color: var(--clr-text-primary);
      }
    }
  }
}

footer {
  background-color: var(--clr-secondary);
  border-top: .125rem solid var(--clr-border);
  border-radius: 1.5rem 1.5rem 0 0;
  color: var(--clr-text-primary);

  .footerLine {
    height: .375rem;
    background-color: var(--clr-primary);
    margin: .5rem 1rem 0;
    border-radius: .5rem .5rem .25rem .25rem;
  }
  
  #copyright {
    text-align: center;
    font-size: var(--fs-tiny);
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--clr-text-primary);
  }

  .footerSection {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    padding: .5rem 1rem .5rem;
    border-radius: .5rem;
    gap: .25rem;


    .footerBox {
      display: grid;
      grid-template-columns: auto 1fr;
      align-items: center;
      gap: .5rem;
    }

    .linksBox {
      gap: 1.5rem;
    }
  }
}


@media screen and (min-width: 640px) {

  main {
    .introContainer {
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: center;

      .textBox:nth-child(2) {
        grid-column: span 2;
      }
    }

    .skillsContainer {
      grid-template-columns: 1fr 1fr;
    }

    .journey {
      text-align: center;
      grid-template-columns: 1fr;

      .textLine {
        display: none;
      }

    }
    .experienceContainer {
      .experienceHeader {
        grid-template-columns: repeat(3, auto);

        .type {
          grid-column: 3 / 4;
          grid-row: 1 / 2;
        }

        .date {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
        }

        .name {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
        }

        .arrowButton {
          grid-column: span 3;
          grid-row: 2 / 3;
        }

      }
    }

    .projectsContainer {
      grid-template-columns: 1fr 1fr;
    }

    .projectBody {
      img {
        max-width: 60%;
        place-self: center;
      }
    }

  }

  footer {

    .footerSection {
      grid-template-columns: 1fr 1fr;

      h2 {
        grid-column: span 2;
      }

      .linksBox {
        grid-column: 2 / 3;
        grid-row: 2 / span 2;
      }
    }
  }
  
}

@media screen and (min-width: 1024px) {
  :root {
    --fs-tiny: 1rem;
    --fs-medium: 1.5rem;
    --fs-big: 1.75rem;
    --fs-large: 2.5rem;
  }

  header {
    margin: 0;
    width: 100%;
    border-radius: 0 0 2rem 2rem;
    transition: none;

    nav {
      grid-column: 2 / 3;
      grid-row: 1 / end;
      transition: none;
      display: grid;
      justify-self: right;

      ul {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto;
        align-items: end;

        .navLink {
          font-size: var(--fs-medium);
          border: none;
        }

        .navLink:hover {
          color: var(--clr-text-primary);
        }
      }
    }
  }


  main {
    width: clamp(64rem, 80%, 80rem);
    justify-self: center;

    .welcomeMessage {
      grid-column: span 2;
    }

    .introContainer {

      .textBox:nth-child(1) {
        grid-column: span 2;

        .textLine {
          display: none;
        }
      }
    }

    .skillsContainer {
      grid-template-columns: repeat(3, 1fr);

      .skillBox {
        .iconContainer {
          margin: 2rem;
          gap: 2rem;
        }
      }

      .skillBox:nth-child(4) {
        grid-column: 2 / 3;
        
      }
    }

    .projectsContainer {
      grid-template-columns: repeat(3, 1fr);
    }

  }

  footer {
    display: grid;

    .footerSection {
      width: clamp(64rem, 80%, 80rem);
      justify-self: center;
      grid-template-columns: repeat(2, 1fr);

      h2 {
        margin: 0;
        place-self: start;
        grid-row: 1 / 2;
        grid-column: 1 / 2;
      }

      address:nth-child(2) {
        grid-row: 2 / 4;
        grid-column: 1 / 2;
      }
      .footerBox:nth-child(3) {
        grid-row: 2 / 4;
        grid-column: 2 / 3;
      }
    }
  }

}