:root {

  --clr-primary: #ECEFF1;
  --clr-secondary: #007a6c;
  --clr-accent: #388E3C;
  --clr-neutral: #CFD8DC;
  --clr-white: #FFFFFF;
  --clr-text: hsl(171, 100%, 13%);


  --ff-primary: 'Inter', Arial, sans-serif;
  --ff-secondary: Garamond serif;

  --ff-body: var(--ff-primary);
  --ff-heading: var(--ff-primary);

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;

  --fs-tiny: 1rem;
  --fs-small: 1.25rem;
  --fs-medium: 1.5rem;
  --fs-larger: 1.85rem;
  --fs-huge: 2.5rem;
}

// https://piccalil.li/blog/a-modern-css-reset

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
html,
body {
  height: 100%;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

// Macro Styling

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
  padding-top: 3.5rem;
}

body {
  font-size: var(--fs-medium);
  font-family: var(--ff-body);
  background-color: var(--clr-white);
}

h1 {
  font-weight: var(--fw-bold);
  text-align: center;
  font-size: var(--fs-huge);
}

// Micro Styling

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 3.5rem;
  background-color: var(--clr-primary);
  border-bottom: .4rem solid var(--clr-secondary);
  border-radius: 0 0 .5rem .5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: .5rem;
  transition: height 1s ease;

  .logo {
    justify-self: start;
  }

  .burgerButton {
    max-height: 2.2rem;
    border: none;
    background: none;
    justify-self: end;
    display: grid;
    gap: .4rem;
    align-items: center;
    padding: .2rem;
    cursor: pointer;
  

    .bar1, .bar2, .bar3 {
      width: 2.5rem;
      height: .4rem;
      background-color: var(--clr-secondary);
      transition: 0.5s;
    }

  }
  .toggled {
    .bar1 {
      transform: translate(0, .8rem) rotate(45deg)
    }

    .bar2 {
      transform: translate(4rem, 0);
      opacity: 0;
    }

    .bar3 {
      transform: translate(0, -.8rem) rotate(-45deg)
    }
  }

  nav {
    grid-row: 2 / end;
    grid-column: span 2;
    padding: 1rem;
    transition: 1s;
    
    ul {
      list-style: none;
      display: grid;
      height: 8rem;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
      gap: 1rem;
      place-items: center stretch;

      li {
        text-align: center;
        background-color: hsla(173, 100%, 24%, 0.4);
      }
    }

    .navLink {
      text-decoration: none;
      color: var(--clr-text);
    }
    
  }
  .scrollIn-enter-active,
  .scrollIn-leave-active {
    transition: all .2s;
  }
  

  .scrollIn-enter-from,
  .scrollIn-enter-to {
    margin-top: -100%;
    transform: translate(0, -5rem);
  }

  .scrollIn-leave-from,
  .scrollIn-leave-to {
    margin-top: -100%;
    transform: translate(0, -5rem);
  }

}

.headerActive {
  height: 13rem;
}

main {
  padding: 1rem;
  color: var(--clr-text);

  h2 {
    font-weight: var(--fw-medium);
    text-align: left;
    margin-block: .5rem;
  }

  #summary {
    font-family: var(--ff-secondary);
    background-color: var(--clr-primary);
    border-left: .4rem solid var(--clr-secondary);
    border-radius: .5rem;
    padding: .5rem;
    margin-block: .5rem;
  }

  #background {
    font-family: var(--ff-secondary);
    background-color: var(--clr-primary);
    border-left: .4rem solid var(--clr-secondary);
    border-radius: .5rem;
    padding: .5rem;
    margin-block: .5rem;
  }
  
  .changingWord {
    display: inline-block;
    font-family: 'Lucida Grande', monospace;
    font-weight: var(--fw-bold);
    color: #388E3C;
    cursor: pointer;
  }

  .deactivated {
    pointer-events: none;
  }

  .profilePhoto {
    border: 2px solid var(--clr-secondary);
    border-radius: 50%;
  }

  .skillBox {
    background-color: var(--clr-primary);
    margin-block: 1rem;
    padding: 0 1rem 2rem;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center stretch;
    gap: 1.5rem;
    border-top: .4rem solid var(--clr-secondary);
    border-radius: .5rem;

    h3 {
      font-weight: var(--fw-medium);
      text-align: center;
      margin-block: .5rem
    }
    
    .iconContainer {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      gap: 1.5rem;
      
      .skillIcon {
        transition: .5s ease-out;
      }

      .skillIcon:hover {
        transform: translate(0, -.5rem) scale(1.1);
      }
      
      .skillIcon::after {
        content: attr(data-name);
        opacity: 0;
        position: absolute;
        font-size: var(--fs-small);
        width: 7rem;
        text-align: center;
        left: 50%;
        margin-left: -3.5rem;
        transform: scale(0);
        transform-origin: top center;
        transition: .5s;
      }

      .skillIcon:hover::after {
        opacity: 1;
        transform: scale(.9);
      }
    }
  }


  .experienceContainer {

    display: grid;
    gap: .5rem;
    
    .experienceBox {
      font-size: var(--fs-small);
  
  
      .experienceHeader {
        display: grid;
        grid-template-columns: 1fr 1fr;
  
        padding: .5rem;
        padding-bottom: 0;
        border-top: .4rem solid var(--clr-secondary);
        border-bottom: .4rem solid var(--clr-secondary);
        border-radius: .5rem;
        background-color: var(--clr-primary);
  
        .date {
          grid-column: 1 / 2;
          grid-row: 1 / 2;
          justify-self: left;
          font-size: var(--fs-tiny);
        }
  
        .type {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          justify-self: right;
          font-size: var(--fs-tiny);
        }
        
        .name {
          grid-column: span 2;
          grid-row: 2 / 3;
          justify-self: center;
          font-weight: var(--fw-medium);
        }
  
        .arrowButton {
          grid-column: span 2;
          grid-row: 3 / 4;
          justify-self: center;
  
          display: flex;
          flex-direction: row;
          height: .7rem;
          border: transparent;     
  
          .arrowLeft {
            width: 1rem;
            height: .2rem;
            background-color: black;
            transform: rotate(20deg) translate(.125rem, .1rem);
          }
  
          .arrowRight {
            width: 1rem;
            height: .2rem;
            background-color: black;
            transform: rotate(-20deg) translate(-.125rem, .1rem);
          }
  
          .closeLeft {
            transform: rotate(-20deg) translate(.05rem, .1rem);
          }
  
          .closeRight {
            transform: rotate(20deg) translate(-.05rem, .1rem);
          }
        }
      }
  
      .experienceBody {
        background-color: var(--clr-primary);
        margin: 0 .5rem;
        padding: 1rem;
        border-bottom: .4rem solid var(--clr-secondary);
        border-radius: 0 0 .5rem .5rem;
  
      }
  
    }
  }


}

footer {
  background-color: var(--clr-secondary);
  font-size: var(--fs-tiny);
  
  #copyright {
    text-align: center;
    font-size: .7rem;
    color: var(--clr-primary);
  }

  h2 {
    font-size: var(--fs-small);
    margin-block: .5rem
  }

  .footerContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    gap: 1rem;

    .footerSection {
      display: grid;
      grid-template-columns: 1fr;
      justify-items: center;
      background-color: var(--clr-primary);
      padding: .5rem;
      border-radius: .5rem;

      .footerBox {
        display: grid;
        grid-template-columns: 1rem 1fr;
        align-items: center;
        gap: .5rem;
      }

      .linksBox {
        gap: 1.5rem;
      }
    }
  }
}


// .headerContainer {
//   width: 100%;
//   position: sticky;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   padding: 1rem;
//   background-color: var(--clr-primary);
// }

// main {
//   width: min(1280px, 100%);
//   margin-inline: auto;
// }

// .list {
//   list-style: none;
//   display: grid;
//   grid-template: 1fr / repeat(3, 1fr);
//   grid-column-gap: 1rem;
//   justify-items: center;
// }

// .list * {
//   color: var(--clr-neutral);
// }

// .imgContainer {
//   width: min(300px, 100%);
//   grid-row: 1 / end;
//   display: flex;
//   align-items: center;
// }
// .profilePhoto {
//   border-radius: 50%;
// }

// .introContainer {
//   display: grid;
//   grid-template-columns: min(300px, 100%) 1fr;
//   grid-template-rows: 1fr 1fr;
//   padding: 1rem;
//   gap: 1rem;
// }

// #summary {
//   font-size: var(--fs-700);
//   font-weight: 700;
//   margin-block: auto;
//   text-align: center;
// }

// #background {
//   font-size: var(--fs-500);
//   font-weight: 500;
//   margin-block: auto;
//   text-align: center;
// }

// .techContainer {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
//   justify-content: center;
//   padding: 1rem;
// }

// .skillContainer {
//   display: grid;
//   place-items: center;
//   grid-template-columns: repeat(2, 1fr);
//   gap: 1.5rem;
//   padding: 1.5rem;
//   background-color: #CFD8DC;
//   border-radius: 5%;
//   box-shadow: 0 0 6px 2px hsla(0, 0%, 0%, 0.4);
// }

// .skillBox {
//   padding: 1rem;
// }

// footer {
//   margin-top: auto;
//   width: 100%;
//   background-color: var(--clr-primary);
//   color: var(--clr-white);
//   font-size: 1rem;
// }

// .footerContainer {
//   width: min(1280px, 100%);
//   margin-inline: auto;
//   display: flex;
//   flex-direction: row;
//   justify-content: space-between;
//   padding: 1rem;
// }

// .footerLink {
//   display: flex;
//   flex-direction: row;
//   align-items: center;
//   gap: 1rem;
//   font-size: 1rem;
//   color: var(--clr-white);
// }

// .footerRow {
//   display: flex;
//   flex-direction: row;
//   flex-wrap: wrap;
// }

// .footerSection {
//   display: flex;
//   flex-flow: column nowrap;
//   justify-content: center;
// }

// .footerBox {
//   display: flex;
//   flex-direction: row;
//   gap: 1rem;
// }

// #copyright {
//   text-align: center;
// }

// @media screen and (max-width: 500px) {
//   .introContainer {
//     display: grid;
//     grid-template-columns: 1fr;
//     grid-template-rows: auto;
//     padding: 1rem;
//     gap: 1rem;
//     place-items: center;
//   }

//   .imgContainer {
//     grid-row: 1 / 2;
//   }
// }